body{
	background-color: lightgrey;
}

h1{
	color: red;
	font-size: 60px;
	text-decoration: underline;
}

#first{
	font-size: 80px;
}

.small{
	font-size: 12px;
}

h2{
	color: green;
	font-size: 60px;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through; 
}